body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    margin-bottom: 50px;
}

#home {
    background: #f4f4f4;
    padding: 100px 0;
}

#about {
    padding: 50px 0;
}

#services {
    padding: 50px 0;
}

#special-offer {
    padding: 50px 0;
}

#contact {
    padding: 50px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
